.container {
  display: flex;
  padding: 1em 0;
}

.container:hover {
  background-color: aliceblue;
}

.avatar {
  align-self: flex-start;
  height: auto;
  min-height: 100px;
  min-width: 100px;
  width: 100px;
}

.data {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  width: 100%;
}

.link {
  color: inherit;
  padding-top: 1em;
}

.timestamp {
  font-size: 75%;
  font-style: italic;
  text-align: right;
}

.email {
  visibility: hidden;
  opacity: 0;
}

.container:hover .email {
  opacity: 1;
  transition: all 0.2s ease-in;
  visibility: visible;
}
